<div class="news-card">
  <a href="news-details.html">
    <div class="img-block">
      <img src="{{ article.image | img_url: 'master' }}" loading="lazy" alt="{{ article.title }}" class="img-fluid">
    </div>
  </a>
  <div class="desc-block">
    {%- if show_date -%}
      <span class="date">
        {{ article.published_at | time_tag: format: '%B, %Y' }}
      </span>
    {%- endif -%}
    {%- if show_author -%}
      <span>{{ article.author }}</span>
    {%- endif -%}
    <h5 class="news-title">
      {{ article.title | truncate: 50 | escape }}
    </h5>
    {%- if show_excerpt -%}
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="article-card__excerpt rte-width">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 10 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 10 }}
          {%- endif -%}
        </p>
      {%- endif -%}
    {%- endif -%}
    <a class="readMore-btn" href="news-details.html">
      Read More
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
</div>