<header id="site-header">
  <div class="container">
    <div class="header-row d-flex justify-content-between align-items-center flex-wrap">
      <div class="logo">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.primary_logo != blank -%}
            <img src="{{ section.settings.primary_logo | img_url: 'master' }}" loading="lazy" alt="{{ shop.name }}" class="img-fluid normal-logo">
          {%- endif -%}
          {%- if section.settings.secondary_logo != blank -%}
            <img src="{{ section.settings.secondary_logo | img_url: 'master' }}" loading="lazy" alt="{{ shop.name }}" class="img-fluid sticky-logo">
          {% endif %}
        </a>
      </div>
      <div class="menu-icon-block d-flex flex-wrap align-items-center">
        <nav class="navbar" id="mySidenav">
          <div class="mobile-logo">
            <a href="{{ routes.root_url }}">
              {%- if section.settings.mobile_logo != blank -%}
                <img src="{{ section.settings.mobile_logo | img_url: 'master' }}" loading="lazy" alt="{{ shop.name }}" class="img-fluid">
              {%- endif -%}
            </a>
          </div>
          <ul class="main-menu d-flex align-items-center flex-wrap">
            {%- for link in linklists[section.settings.main_menu].links -%}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
          <button class="close-menu" onclick="closeNav()">
            <span></span>
            <span></span>
          </button>
        </nav>

        <div class="icon-block d-flex align-items-center flex-wrap">
          {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset icon-btn">
              {% render 'icon-account' %}
              <span class="visually-hidden">
                {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
              </span>
            </a>
          {%- endif -%}
          <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset icon-btn" id="cart-icon-bubble">
            {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
            {%- endif -%}
          </a>
          <button class="icon-btn">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.0303 16.9697C17.7374 16.6768 17.2626 16.6768 16.9697 16.9697C16.6768 17.2626 16.6768 17.7374 16.9697 18.0303L18.0303 16.9697ZM20.4697 21.5303C20.7626 21.8232 21.2374 21.8232 21.5303 21.5303C21.8232 21.2374 21.8232 20.7626 21.5303 20.4697L20.4697 21.5303ZM20.75 10.5C20.75 4.83908 16.1609 0.25 10.5 0.25V1.75C15.3325 1.75 19.25 5.66751 19.25 10.5H20.75ZM10.5 0.25C4.83908 0.25 0.25 4.83908 0.25 10.5H1.75C1.75 5.66751 5.66751 1.75 10.5 1.75V0.25ZM0.25 10.5C0.25 16.1609 4.83908 20.75 10.5 20.75V19.25C5.66751 19.25 1.75 15.3325 1.75 10.5H0.25ZM10.5 20.75C16.1609 20.75 20.75 16.1609 20.75 10.5H19.25C19.25 15.3325 15.3325 19.25 10.5 19.25V20.75ZM16.9697 18.0303L20.4697 21.5303L21.5303 20.4697L18.0303 16.9697L16.9697 18.0303Z" fill="#F8F9FA"/>
            </svg>
          </button>
        </div>
        <div class="humberg-icon" onclick="openNav()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>

</header>

{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "primary_logo",
        "label": "Primary Logo"
      }, {
        "type": "image_picker",
        "id": "secondary_logo",
        "label": "Secondary Logo"
      }, {
        "type": "image_picker",
        "id": "mobile_logo",
        "label": "Mobile Logo"
      }, {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu"
      }
    ]
  }
{% endschema %}