<footer id="site-footer">
  <div class="footer-main-block">
    <div class="container">
      <div class="ft-row">
        <div class="ft-logo-col">
          <div class="ft-logo-block">
            <div class="ft-logo">
              <a href="{{ routes.root_url }}">
                {% if section.settings.footer_logo != blank %}
                  <img src="{{ section.settings.footer_logo | img_url: 'master' }}" loading="lazy" alt="{{ shop.name }}" class="img-fluid">
                {% endif %}
              </a>
            </div>
            <ul class="ft-caontact">
              {%- if section.settings.address != blank -%}
                <li>
                  <div class="icon-block">
                    <img src="{{ 'pointer-icon.png' | asset_img_url : "master" }}" loading="lazy" alt="pointer-icon" class="img-fluid">
                  </div>
                  <a href="#">
                    {{ section.settings.address | newline_to_br }}
                  </a>
                </li>
              {%- endif -%}
              {% if section.settings.phone != blank %}
                <li>
                  <div class="icon-block">
                    <img src="{{ 'ph-icon.png' | asset_img_url : "master" }}" loading="lazy" alt="ph-icon" class="img-fluid">
                  </div>

                  <a href="tel:{{ section.settings.phone }}">
                    {{ section.settings.phone }}
                  </a>
                </li>
              {% endif %}
            </ul>
            {%- if section.settings.button_text != blank -%}
              <a href="{{ section.settings.button_url }}" class="visit-link">
                {{ section.settings.button_text }}
              </a>
            {%- endif -%}
          </div>
        </div>
        <div class="ft-right-col">
          <div class="ft-right-block">
            <div class="ft-links-row d-flex flex-wrap">
              <div class="ft-products-col">
                <h3 class="ft-title">
                  {{ section.settings.heading_1 }}
                </h3>
                <ul class="ft-links-ul">
                  {%- for link in linklists[section.settings.menu_1].links -%}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <div class="ft-about-col">
                <h3 class="ft-title">
                  {{ section.settings.heading_2 }}
                </h3>
                <ul class="ft-links-ul">
                  {%- for link in linklists[section.settings.menu_2].links -%}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <div class="ft-last-col">
                <h3 class="ft-title">
                  {{ section.settings.heading_3 }}
                </h3>
                <ul class="ft-links-ul">
                  {%- for link in linklists[section.settings.menu_3].links -%}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <div class="ft-last-col">
                <h3 class="ft-title">
                  {{ section.settings.heading_4 }}
                </h3>
                <ul class="ft-links-ul">
                  {%- for link in linklists[section.settings.menu_4].links -%}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copywrite sec footer -->
  <div class="ft-copywrite">
    <div class="container">
      <p>
        Copyright &copy; {{ 'now' | date: '%Y'  }}
        <a href="{{ routes.root_url }}">
          {{ shop.name }}
        </a>
        &#124; {{ section.settings.copy }}
      </p>
    </div>

  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Logo"
      },
      {
        "type": "textarea",
        "id": "address",
        "label": "Address"
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone Number"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }, {
        "type": "header",
        "content": "Menus"
      }, {
        "type": "text",
        "id": "heading_1",
        "label": "Heading"
      }, {
        "type": "link_list",
        "id": "menu_1",
        "label": "Menu"
      }, {
        "type": "text",
        "id": "heading_2",
        "label": "Heading"
      }, {
        "type": "link_list",
        "id": "menu_2",
        "label": "Menu"
      }, 
      {
        "type": "text",
        "id": "heading_3",
        "label": "Heading"
      }, 
      {
        "type": "link_list",
        "id": "menu_3",
        "label": "Menu"
      }, 
      {
        "type": "text",
        "id": "heading_4",
        "label": "Heading"
      }, 
      {
        "type": "link_list",
        "id": "menu_4",
        "label": "Menu"
      }, 
      {
        "type": "header",
        "content": "Copyright"
      }, 
      {
        "type": "textarea",
        "id": "copy",
        "label": "Text"
      }
    ]
  }
{% endschema %}