<section class="faqs-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2 data-aos="fade-down" data-aos-duration="1000" class="prime-title">
            Finder
          </h2>
        <div class="faqs-wrap">
          <div class="accordion" id="accordionExample">
            {% for block in section.blocks %}
              {% if block.type == 'faqleft' %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ forloop.index }}">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#coll-{{ forloop.index }}"
                      aria-expanded="true"
                      aria-controls="coll-{{ forloop.index }}"
                    >
                      {{ block.settings.heading }}
                    </button>
                  </h2>
                  <div
                    id="coll-{{ forloop.index }}"
                    class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                    aria-labelledby="heading{{ forloop.index }}"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      {{ block.settings.description }}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <h2 data-aos="fade-down" data-aos-duration="1000" class="prime-title">
            Expander
          </h2>
        <div class="faqs-wrap">
          <div class="accordion" id="accordionExampleTwo">
            {% for block in section.blocks %}
              {% if block.type == 'faqright' %}
                <div class="accordion-item active">
                  <h2 class="accordion-header" id="heading{{ forloop.index }}">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#coll-{{ forloop.index }}"
                      aria-expanded="true"
                      aria-controls="coll-{{ forloop.index }}"
                    >
                      {{ block.settings.heading }}
                    </button>
                  </h2>
                  <div
                    id="coll-{{ forloop.index }}"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading{{ forloop.index }}"
                    data-bs-parent="#accordionExampleTwo"
                  >
                    <div class="accordion-body">
                      {{ block.settings.description }}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Faq Page",
  "settings": [],
  "blocks":[
    {
      "type": "faqleft",
      "name": "Faqs left",
      "settings":[
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "faqright",
      "name": "Faqs right",
      "settings":[
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
