{% comment %}
<section class="faqs-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="faqs-wrap">
                        <div class="accordion" id="accordionExample">
                           {% for block in section.blocks %}
                             {% if block.type == 'faqleft' %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="{{ block.id }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#{{ block.id }}" aria-expanded="true"
                                        aria-controls="{{ block.id }}">
                                        {{ block.settings.heading }}
                                    </button>
                                </h2>
                                <div id="{{ block.id }}" class="accordion-collapse collapse show"
                                    aria-labelledby="{{ block.id }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{ block.settings.description }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="faqs-wrap">
                        <div class="accordion" id="accordionExample">
                          {% for block in section.blocks %}
                             {% if block.type == 'faqright' %}
                            <div class="accordion-item active">
                                <h2 class="accordion-header" id="{{ block.id }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse111" aria-expanded="true"
                                        aria-controls="collapse111">
                                        {{ block.settings.heading }}
                                    </button>
                                </h2>
                                <div id="collapse111" class="accordion-collapse collapse"
                                    aria-labelledby="{{ block.id }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{ block.settings.description }}
                                    </div>
                                </div>
                            </div>
                           {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endcomment %}



    <section class="faqs-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="faqs-wrap">
                     
                        <div class="accordion" id="accordionExample">
                           {% for block in section.blocks %}
                             {% if block.type == 'faqleft' %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading111">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse111" aria-expanded="true"
                                        aria-controls="collapse111">
                                        How long will it take to rehouse my lens?
                                    </button>
                                </h2>
                                <div id="collapse111" class="accordion-collapse collapse show"
                                    aria-labelledby="heading111" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Whether you already own the base lenses or are planning to assemble a set
                                        from scratch, you can send us a message to get a precise quote for the
                                        specific focal lengths you have in mind. We require full payment before
                                        rehousing begins, but a 25% non-refundable deposit will hold your place in
                                        line and we will contact you for the remaining balance when your set comes
                                        up in the queue.
                                    </div>
                                </div>
                            </div>
                               {% endif %}
                        {% endfor %}
                        </div>
                          
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="faqs-wrap">
<!--                         <div class="accordion" id="accordionExample">
                            <div class="accordion-item active">
                                <h2 class="accordion-header" id="heading111">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse111" aria-expanded="true"
                                        aria-controls="collapse111">
                                        How long will it take to rehouse my lens?
                                    </button>
                                </h2>
                                <div id="collapse111" class="accordion-collapse collapse"
                                    aria-labelledby="heading111" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Whether you already own the base lenses or are planning to assemble a set
                                        from scratch, you can send us a message to get a precise quote for the
                                        specific focal lengths you have in mind. We require full payment before
                                        rehousing begins, but a 25% non-refundable deposit will hold your place in
                                        line and we will contact you for the remaining balance when your set comes
                                        up in the queue.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        Do you sell finished sets or source lenses for clients?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Whether you already own the base lenses or are planning to assemble a set
                                        from scratch, you can send us a message to get a precise quote for the
                                        specific focal lengths you have in mind. We require full payment before
                                        rehousing begins, but a 25% non-refundable deposit will hold your place in
                                        line and we will contact you for the remaining balance when your set comes
                                        up in the queue.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        What is the process for placing an order?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use
                                        to style each element. These classes control the overall appearance, as well
                                        as the showing and hiding via CSS transitions. You can modify any of this
                                        with custom CSS or overriding our default variables. It's also worth noting
                                        that just about any HTML can go within the <code>.accordion-body</code>,
                                        though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        What is the process for placing an order?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use
                                        to style each element. These classes control the overall appearance, as well
                                        as the showing and hiding via CSS transitions. You can modify any of this
                                        with custom CSS or overriding our default variables. It's also worth noting
                                        that just about any HTML can go within the <code>.accordion-body</code>,
                                        though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "Faq Page",
    "settings": [],
    "blocks":[
      {
        "type": "faqleft",
        "name": "Faqs left",
        "settings":[
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      },
      {
        "type": "faqright",
        "name": "Faqs right",
        "settings":[
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}