<!-- news details section -->

<section class="news-details-sec">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container">
      <div class="news-dt-row">
        <div class="news-dt-col">
          <h3 class="common-title">
            {{ blog.title }}
          </h3>
          <div class="pd-card">
            {%- if article.image -%}
              <div class="news-dt-img-block">
                <img srcset="{% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                                                      {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                                                      {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                                                      {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                                                      {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                                                      {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                                                      {{ article.image | image_url }} {{ article.image.width }}w" sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw" src="{{ article.image | image_url: width: 1100 }}" loading="eager" width="{{ article.image.width }}" height="{{ article.image.height }}" alt="{{ article.image.alt | escape }}">
              </div>
            {%- endif -%}
            <div class="tags-row d-flex flex-wrap">
              <span class="feature-tag">
                Featured Story
              </span>
              <span class="feature-tag">
                September 2019
              </span>

            </div>
            <div class="news-title">
              {{ article.title | escape }}
            </div>
            <p>
              The IBC Conference is an unrivalled global destination for discussion and debate about the many different
              challenges facing the electronic media and entertainment industry, both in its sessions and in the range of
                                                                                                                                                                                                                      networking opportunities it affords.
            </p>
            <p>
              The IBC Exhibition covers fifteen halls across the RAI, hosting over 1,700 exhibitors and a number of specially
              curated feature areas and events that tie into the IBC Conference to enrich your understanding of technologies
                                                                          and trends that are driving the industry.
            </p>
          </div>
        </div>
        <div class="news-list-col">
          <h3 class="common-title">
            Related News
          </h3>
          <div class="news-cards-list">
            <div class="news-card">
              <a href="news-details.html">
                <div class="img-block">
                  <img src="assets/imgs/news-img-3.jpg" alt="news-img" class="img-fluid">
                </div>
              </a>
              <div class="desc-block">
                <span class="date">
                  September 2019
                </span>
                <h5 class="news-title">
                  OPTICA MAGNUS IS INTRODUCED AT IBC SEPTEMBER 2019
                </h5>
                <p>
                  The IBC Conference is an unrivalled global
                  destination for discussion...
                </p>
                <a class="readMore-btn" href="news-details.html">
                  Read More
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="news-card">
              <a href="news-details.html">
                <div class="img-block">
                  <img src="assets/imgs/news-img-2.jpg" alt="news-img" class="img-fluid">
                </div>
              </a>
              <div class="desc-block">
                <span class="date">
                  September 2019
                </span>
                <h5 class="news-title">
                  SUPER 35 TO LARGE FORMAT EXPANDER
                </h5>
                <p>
                  The IBC Conference is an unrivalled global
                  destination for discussion...
                </p>
                <a class="readMore-btn" href="news-details.html">
                  Read More
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="news-card">
              <a href="news-details.html">
                <div class="img-block">
                  <img src="assets/imgs/news-img-4.jpg" alt="news-img" class="img-fluid">
                </div>
              </a>
              <div class="desc-block">
                <span class="date">
                  September 2019
                </span>
                <h5 class="news-title">
                  OPTICA MAGNUS IS REPRESENTED BY P+S TECHNIK FOR EUROPE
                </h5>
                <p>
                  The IBC Conference is an unrivalled global
                  destination for discussion...
                </p>
                <a class="readMore-btn" href="{{news-details.html}}">
                  Read More
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </article>
</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},{% if article.excerpt != blank %}"description" : {{ article.excerpt | strip_html | json }},{% endif %}{% if article.image %}"image" : [{{ article | image_url: width: article.image.width | prepend: "https:" | json }}],{% endif %}"datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",{% if settings.share_image %}"logo" : {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },{% endif %}"name": {{ shop.name | json }}
    }
  }
</script>


{% schema %}
  {
    "name": "t:sections.main-article.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "featured_image",
        "name": "t:sections.main-article.blocks.featured_image.name",
        "limit": 1,
        "settings": []
      },
      {
        "type": "title",
        "name": "t:sections.main-article.blocks.title.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "blog_show_date",
            "default": true,
            "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
          }, {
            "type": "checkbox",
            "id": "blog_show_author",
            "default": false,
            "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
          }
        ]
      },
      {
        "type": "content",
        "name": "t:sections.main-article.blocks.content.name",
        "limit": 1
      }, {
        "type": "share",
        "name": "t:sections.main-article.blocks.share.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.main-article.blocks.share.settings.text.label",
            "default": "Share"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-article.blocks.share.settings.title_info.content"
          }
        ]
      }
    ]
  }
{% endschema %}