<!-- our vision section section -->
<section class="our-vision-sec">
  <div class="vision-container">

    {{ page.content }}

    <div class="contact-form-block">
      <h3 data-aos="fade-left" data-aos-duration="1000" class="title text-center">
        {{ section.settings.heading }}
      </h3>
      <div data-aos="fade-left" data-aos-duration="1500" class="form-block">
        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="input-style">
            <label class="input-label" for="ContactForm-name">
              {{ 'templates.contact.form.name' | t }}
            </label>
            <input class="ctm-input" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="input-style field--with-error">
            <label class="input-label" for="ContactForm-email">
              {{ 'templates.contact.form.email' | t }}
            </label>
            <input autocomplete="email" type="email" id="ContactForm-email" class="ctm-input" name="contact[email]" spellcheck="false" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" aria-required="true" {% if form.errors contains 'email' %}aria-invalid="true"aria-describedby="ContactForm-email-error"{% endif %}>
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
              </small>
            {%- endif -%}
          </div>
          <div class="input-style">
            <label class="input-label" for="ContactForm-subject_title">
              Subject
            </label>
            <input class="ctm-input" type="text" id="ContactForm-subject_title" name="contact[subject_title]" value="{% if form.subject_title %}{{ form.subject_title }}{% endif %}">
          </div>
          <div class="input-style">
            <label class="input-label" for="ContactForm-body">
              {{ 'templates.contact.form.comment' | t }}
            </label>
            <textarea id="ContactForm-body" class="ctm-textarea" name="contact[{{ 'templates.contact.form.comment' | t }}]">
              {{- form.body -}}
            </textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button class="primary-btn">
              <span>
                {{ 'templates.contact.form.send' | t }}
              </span>
            </button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Form Heading",
        "default": "CONTACT"
      }
    ]
  }
{% endschema %}