<!-- product details tabs section -->
<section class="product-dt-tabs-sec">
  <div class="container">
    <div class="custom-tabs">
      <ul class="ctm-tabs-ul d-flex align-items-center">
        <li class="active">
          <span data-toggle="description">
            More information
          </span>
        </li>
        <li>
          <span data-toggle="technical_info_tab">
            Technical Specs Information
          </span>
        </li>

      </ul>
      <div class="tab-content">
        <div data-aos="fade-up" data-aos-duration="1100" data-target="description" class="ctm-tabs-pan active">
          {% if product.metafields.custom.text_description %}
              <div class="description_text">
                {{ product.metafields.custom.text_description }}
              </div>
          {% endif %}
          
          <div class="desciption_img-block">
            {% if product.metafields.custom.description_image %}
              <img src="{{ product.metafields.custom.description_image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.info_image.alt }}" class="img-fluid">
          
             {% endif %}
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1100" data-target="technical_info_tab" class="ctm-tabs-pan">
          <div class="technical-info-block">
          {% if product.metafields.custom.technical_information_image %}
              <img src="{{ product.metafields.custom.technical_information_image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.info_image.alt }}" class="img-fluid">
          {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Product Tabbing",
    "settings": [
      {
        "type": "image_picker",
        "id": "info_image",
        "label": "Description Image"
      }, {
        "type": "image_picker",
        "id": "tech_image",
        "label": "Technical Image"
      }
    ]
  }
{% endschema %}