<!-- product details tabs section -->
<section class="product-dt-tabs-sec">
  <div class="container">
    <div class="custom-tabs">
      <ul class="ctm-tabs-ul d-flex align-items-center">
         {% if product.metafields.custom.text_description != blank %}
        <li class="active">
          <span data-toggle="description">
              {{ section.settings.tab_heading_one }}
          </span>
        </li>
        {% endif %}
        {% if product.metafields.custom.technical_specs != blank %}
        <li>
          <span data-toggle="technical_info_tab">
              {{ section.settings.tab_heading_two }}
          </span>
        </li>
        {% endif %}
        {% if product.metafields.custom.image_circle != blank %}
         <li>
          <span data-toggle="image_circle_tab">
            {{ section.settings.tab_heading_three }}
            
          </span>
        </li>
       {% endif %}
      </ul>
      <div class="tab-content">
        
        <div data-aos="fade-up" data-aos-duration="1100" data-target="description" class="ctm-tabs-pan active">
          {% if product.metafields.custom.text_description != blank %}
              <div class="description_text">
                {{ product.metafields.custom.text_description }}
              </div>
          {% endif %}
        </div>
        
        <div data-aos="fade-up" data-aos-duration="1100" data-target="technical_info_tab" class="ctm-tabs-pan">
          {% if product.metafields.custom.technical_specs != blank %}
          <div class="technical-info-block">
             {{ product.metafields.custom.technical_specs }}
          </div>
          {% endif %}
        </div>
         <div data-aos="fade-up" data-aos-duration="1100" data-target="image_circle_tab" class="ctm-tabs-pan">
          <div class="technical-info-block">
          {% if product.metafields.custom.image_circle != blank %}
              <img src="{{ product.metafields.custom.image_circle | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.info_image.alt }}" class="img-fluid">
          {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Product Tabbing",
    "settings": [
      {
        "type": "image_picker",
        "id": "info_image",
        "label": "Description Image"
      }, {
        "type": "image_picker",
        "id": "tech_image",
        "label": "Technical Image"
      },
      {
        "type": "text",
        "id": "tab_heading_one",
        "default": "More Information",
        "label": "Tab One"
      },
      {
        "type": "text",
        "id": "tab_heading_two",
        "default": "Technical Specs",
        "label": "Tab Two"
      },
      {
        "type": "text",
        "id": "tab_heading_three",
        "default": "Image Circle",
        "label": "Tab Three"
      }
    ]
  }
{% endschema %}